.sales-figure-modal {
    font-family: Lato;
    background-color: #282c34;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 30vmin;
}

.sales-figure-header {
    color: #04AA6D;
    font-size: 20px;
}

.sales-figure-line {
    border-width: 1px;
    border-color: azure;
    border-style: solid;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sales-figure-row-title {
    font-size: 2vmin;
}

.sales-figure-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.freevsl-figure-row-figure {
    text-align: center;
    font-size: 2vmin;
}

table {
    border: 2px solid rgb(255, 255, 255);
    width: 300px;
    height: 200px;
  }
    
  th {
    background-color: #fdffd7;
    color: #000000;
    font-family: Lato;
    font-size: 2vmin;
    border-bottom: 1px solid black;
  }
    
  td {
    font-size: 2vmin;
    text-align: center;
    border: 1px solid rgb(141, 133, 133);
    empty-cells:hide;
    
  }

  .logo-container interactive{
    height: 10vmin;
    pointer-events: none;
    background-color: azure;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .submit-order-app-logo{
    height: 10vmin;
    pointer-events: none;
    background-color: azure;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  
 .searchbarwidth{
    width: 50vmin;
    margin-top: -80px;
    margin-bottom: 10px;
    border-width: px;
    font-size: 2vmin;
    text-align: center;
 }


 .back-button{
  width: 5vmin;
  margin-left: -0px;
  margin-bottom: -40px;
}

.back-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 5vmin;
  margin-left: -0px;
  margin-bottom: -70px; 
  
}

 .refresh-button{
  width: 5vmin;
  margin-left: 250px;
  margin-bottom: -85px;
 }