.sales-figure-modal {
    font-family: Lato;
    background-color: #282c34;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 30vmin;
}

.sales-figure-header {
    color: #04AA6D;
    font-size: 20px;
}

.sales-figure-line {
    border-width: 1px;
    border-color: azure;
    border-style: solid;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sales-figure-row-title {
    font-size: 2vmin;
}

.sales-figure-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.freevsl-figure-row-figure {
    text-align: center;
    font-size: 3vmin;
}

table {
    border: 2px solid rgb(255, 255, 255);
    width: 300px;
    height: 200px;
  }
    
  th {
    background-color: #ffffff;
    color: #000000;
    font-family: Lato;
    font-size: 2vmin;
    border-bottom: 1px solid black;
  }
    
  td {
    font-size: 2vmin;
    text-align: center;
  }